# line endings
* text eol=lf

# file encodings
*.cpy zos-working-tree-encoding=ibm-1047
*.cbl zos-working-tree-encoding=ibm-1047
*.csd zos-working-tree-encoding=ibm-1047
*.config zos-working-tree-encoding=ibm-1047
*.bms zos-working-tree-encoding=ibm-1047
*.pli zos-working-tree-encoding=ibm-1047
*.mfs zos-working-tree-encoding=ibm-1047
*.bnd zos-working-tree-encoding=ibm-1047
*.lnk zos-working-tree-encoding=ibm-1047
*.lked zos-working-tree-encoding=ibm-1047
*.rexx zos-working-tree-encoding=ibm-1047
server.xml zos-working-tree-encoding=iso8859-1
*.txt zos-working-tree-encoding=ibm-1047
*.groovy zos-working-tree-encoding=ibm-1047
*.sh zos-working-tree-encoding=utf-8
*.properties zos-working-tree-encoding=ibm-1047
*.asm zos-working-tree-encoding=ibm-1047
*.assemble zos-working-tree-encoding=ibm-1047
*.jcl zos-working-tree-encoding=ibm-1047
*.mac zos-working-tree-encoding=ibm-1047
*.aar binary
*.sar binary
*.jar binary
*.war binary
*.pdf binary
*.xml zos-working-tree-encoding=utf-8
*.json zos-working-tree-encoding=utf-8
*.bzucfg zos-working-tree-encoding=ibm-1047
*.plbck binary
*.md zos-working-tree-encoding=utf-8
*.yml zos-working-tree-encoding=utf-8
*.yaml zos-working-tree-encoding=utf-8

.gitattributes zos-working-tree-encoding=ISO8859-1